@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,600,700");

#bg {
    position: absolute;
    left: 0em;
    top: 0em;
    width: 115%;
    height: 100%;
    z-index: -1;
}

hr {
    margin: 40px 0;
    border-top: none;
}


.header-text {
    font-size: 2.5em;
    font-family: "Playfair Display", sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    margin-left: 2em;
}

.body-text {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 300;
}


.header-box {
    display: inline;
    text-align: right;
}