@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #ffffff;
  /* background-image: linear-gradient(to top right,#50c9c8 25%,#ffffc0 55%,#96deda  15% ); */
  /* background: -webkit-linear-gradient(to right, #66e2d0, #82EFD7); */
  /* background: linear-gradient(to top right, #34cac1, #82EFD7);  */
}